ai_copy(have comments)_only_reference.py
notes.txt
todo.txt
strutcures.txt
info.txt


__pycache__/
*.py[cod]
*.pyo

# Virtual environments
G_Env/
venv/
.env

# IDE
.vscode/

# Testing
.pytest_cache/

# Alembic cache
*.pyc


#pics
in the backend ful course for job, whats done and whats left.png